{% extends "_base.html" %}
{% load static %}

{% block title %} เปลี่ยนรหัสผ่าน {% endblock %}

{% block content %}
<div class="container mx-auto mt-1 p-5 bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4 text-center">เปลี่ยนรหัสผ่าน</h1>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        <ul class="mt-4">
            {% for message in messages %}
                <li class="text-green-600">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        {{ form.non_field_errors }}
        
        <div class="mb-4">
            <label for="id_old_password" class="block text-sm font-medium text-gray-700">รหัสผ่านเก่า</label>
            {{ form.old_password}}
            <span class="text-red-600">{{ form.old_password.errors }}</span>
        </div>

        <div class="mb-4">
            <label for="id_new_password1" class="block text-sm font-medium text-gray-700">รหัสผ่านใหม่</label>
            {{ form.new_password1}}
            <span class="text-red-600">{{ form.new_password1.errors }}</span>
        </div>

        <div class="mb-4">
            <label for="id_new_password2" class="block text-sm font-medium text-gray-700">ยืนยันรหัสผ่านใหม่</label>
            {{ form.new_password2}}
            <span class="text-red-600">{{ form.new_password2.errors }}</span>
        </div>

        <button type="submit" class="bg-blue-600 text-white font-semibold py-2 px-4 rounded hover:bg-blue-500 transition duration-200">เปลี่ยนรหัสผ่าน</button>
    </form>
</div>
{% endblock %}
